Package: mach1-dig-linux
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-psutil, python3-hid | python3-hidapi, libhidapi-hidraw0
Maintainer: Seu Nome <seu.email@exemplo.com>
Description: Driver Linux para display de cooler MACH1 DIG
 Driver em user-space que envia a temperatura da CPU
 para o display LCD de coolers MACH1 DIG.
